*{
    margin:0%;
    padding: 0%;
}
/************************************************/
/*GRID para el BODY*/
/************************************************/
body{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
/*****Fin GRID*****/ 

/************************************************/
/*Estilo para el HEADER*/
/************************************************/
header{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-image: linear-gradient(#0000002c,#f0f0f0d5, #f0f0f0);
    border-radius: 10px 100px 10px 100px;
    box-shadow: 10px 10px 10px 0px rgba(95, 92, 92, 0.733);
    margin: 1%;
    grid-area: header;
}
.logo{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    height: 170px;
    padding: 1%;
    margin: auto;
}
.logo__imagen{
    width:100%;
    opacity: 0.7;
}
.nav-header{
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.nav-header__menu{
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
    width: 100%;
    padding: 1%;
}
.nav-header__menu li{
    padding: 1%;
    margin: auto;
    display: inline-block;
}
.nav-header__menu a{
    color: #343232;
    text-decoration: none;
    font-family: 'Nanum Myeongjo', serif;
    font-size:small;
    font-weight: bold;
    letter-spacing:1.5px;
    margin: auto; 
}
.nav-header__menu a:hover{
    color: #000000;
    font-weight:bolder;
}
/*****Fin estilo HEADER*****/ 

/************************************************/
/*Estilo para el MAIN*/
/************************************************/

/***INDEX***/
#mainPrimario h1{
    color: #343232;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight:lighter;
    text-align: center;
    padding: 30px;
}
/***Fin de INDEX***/

/***Quien-soy***/
.mainSecundario__quien-soy{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:center;
}
.mainSecundario__quien-soy h1{
    color: #343232;
    font-family: 'Playfair Display', serif;
    font-weight:lighter;
    font-size: 40px;
    text-align:left;
    padding: 1%;
}
.mainSecundario__quien-soy p{
    width:auto;
    height: auto;
    color: #343232;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 18px;
    text-align:left;
    padding: 15px 0px 0px 30px;
}
.mainSecundario__imagen-perfil{
    justify-content: center;
    width: 30%;
    height: auto;
    padding: 5% 0% 5% 0%;
    position: relative;
}
.mainSecundario__imagen-perfil img{
    width: 100%;
    border-radius: 10px 70px 10px 70px;
}
/***Fin de Quien-soy***/

/***Sesiones***/
#sesiones{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: auto;
    height: auto;
    background-image: linear-gradient(#f0f0f0, white);
    padding: 1%;
    margin-bottom: 5%;
}
#sesiones h1{
    color: #343232;
    font-family: 'Playfair Display', serif;
    font-weight:lighter;
    font-size: 50px;
    text-align:center;
    padding: 5% 2% 2% 2%;
}
.sesion__imagen{
    width: 80%;
    padding-bottom: 2%;
}
.sesion__imagen img{
    width: 100%;
    border-radius: 10px 70px 10px 70px;
}
#sesiones p{
    color: #343232;
    font-family: 'Playfair Display', serif;
    font-weight:lighter;
    font-size: 23px;
    text-align:center;
    padding: 1%;
}
.sesion__carrusel{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: auto;
}
.sesion__carrusel-imagen{
    width: 15%;
    padding: 1%;
}
.sesion__carrusel-imagen img{
    width: 100%;
}
.sesiones__boton{
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    background-color: #f0f0f0;
    padding: 1%;
    margin-top: 2%;
}
.sesiones__boton a{
    color: #343232;
    font-family: 'Playfair Display', serif;
    font-size:large;
    text-align: center;
    text-decoration: none;
}
.sesiones__boton:hover{
    color: #000000b6;
    background-image: linear-gradient(#0000002c, #f0f0f0d5, white);
    border-color: #000000;
}
/***Fin de Sesiones***/

/***Sesion-seleccionada***/
.mainPrimario__imagen{
    width: 100%;
}
.mainPrimario__imagen-sesion{
    width: 40%;
    padding-top: 4%;
}
.mainPrimario__imagen-sesion img{
    border-radius: 10px 70px 10px 70px;
}
.mainPrimario__descripcion{
    width: 35%;
    height: auto;
    padding: 1%;
}
.mainPrimario__descripcion p{
    color: #343232;
    font-family: 'Playfair Display', serif;
    font-weight:lighter;
    font-size: 20px;
    text-align:center;
    padding: 1%;
    margin-top: 5%;
}
/***Fin de Sesion-seleccionada***/

/***Q&A***/
.mainPrimario__titulo{
    width:auto;
    padding: 45px 0px 25px 5px;
}
.mainPrimario__titulo h1{
    color: #343232;
    font-family: 'Playfair Display', serif;
    font-weight:lighter;
    font-size: 40px;
}
.mainPrimario__preguntas{
    width:auto;
    height: auto;
    padding: 5%;
}
.mainPrimario__preguntas p{
    color: #343232;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    text-align:left;
    padding-left: 1%;
}
.mainPrimario__preguntas h3{
    color: #343232;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    text-align:left;
    padding-bottom: 0.5%;
}
/***Fin de Q&A***/

/***Contacto***/
.mainSecundario__imagen-contacto{
    display: flex;
    justify-content: center;
    width: 450px;
    margin: auto;
}
.mainSecundario__imagen-contacto img{
    width: 75%;
    border-radius: 10px 70px 10px 70px;
}
.mainSecundario__titulo-formulario{
    width: 450px;
    height: auto;
    margin: auto;
    padding: 20px;
    float: left;
}
.mainSecundario__titulo{
    width: 450px;
    height: auto;
    margin:auto;
}
.mainSecundario__titulo h1{
    color: #343232;
    font-family: 'Playfair Display', serif;
    font-weight:lighter;
    font-size: 25px;
    text-align:left;
    padding: 0px 10px 10px 0px;
}
.mainSecundario__titulo p{
    color: #343232;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    text-align:left;
    padding: 0px 0px 0px 10px;
}
.mainSecundario__formulario{
    width: 450px;
    height: auto;
    padding: 10px;
}
.mainSecundario__formulario input{
    font-family: 'Playfair Display', serif;
    width: 300px;
    padding: 5px 10px;    
}
.mainSecundario__formulario p{
    color: #343232;
    font-family: 'Playfair Display', serif;
    font-size: 13px;
    text-align:left;
    padding: 3px;
    margin-bottom: 0%;
}
/***Fin de Contacto***/

/*****Fin estilo MAIN*****/

/************************************************/
/*Estilo para el FOOTER*/
/************************************************/
footer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: center;
    background-image: linear-gradient(#0000002c, #f0f0f0d5, white);
    width: auto;
    height: 100%;
    grid-area: footer;
}
.informacion{
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    align-items: center;
    width: 50%;
    height: 50%;
    padding: 0.5%;
}
.informacion__redes-sociales{
    padding: 1%;
    margin: auto;
}
.redes-sociales__logo{
    width: 100%;
    opacity: 0.7;
}
.informacion__redes-sociales li{
    padding: 10px;
    margin: auto;
    display: inline-block;
}
.contacto{
    padding: 2%;
}
.contacto a{
    color: #343232;
    font-family: 'Playfair Display', serif;
    font-size:large;
    font-weight:bold;
    letter-spacing: 1.5px;
    text-align: center;
    text-decoration: none;
}
.contacto a:hover{
    color: #000000;
    font-weight:bolder;
}
.datos{
    color: #343232;
    font-family: 'Playfair Display', serif;
    font-size:medium;
    text-align: center;
    padding: 1.5%;
}
.formulario{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-color: gray;
    padding: 20px;
}
.formulario__input{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.formulario input{
    font-family: 'Playfair Display', serif;
    font-size: small;
    width: auto;
    padding: 5px 5px;
}
/*****Fin estilo FOOTER*****/

/************************************************/
/*Estilos GENERALES*/
/************************************************/

/***Estilos main***/
#mainPrimario{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: auto;
    height: auto;
    background-image: linear-gradient(#f0f0f0, white);
}
#mainSecundario{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    width: auto;
    height: auto;
    padding: 1%;
    background-image: linear-gradient(#f0f0f0, white);
}

/***Estilo boton***/
.boton{
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    width: auto;
    padding: 7px 30px;
    cursor: pointer;
    border: 2px solid gray;
    border-radius: 3px;
    background-color: transparent;
}
.boton:hover{
    color: #000000b6;
    background-image: linear-gradient(#0000002c, #f0f0f0d5, white);
    border-color: #000000;
    font-weight:bold;
}
.formulario__boton{
    display: flex;
}
/***Estilo textarea***/
.mensaje{
    font-family: 'Playfair Display', serif;
    padding: 0px 10px;
    width: 300px;
}
/*****Fin estilos GENERALES*****/

/************************************************/
/*Media Queries*/
/************************************************/

@media (max-width:576px){
    
/***Estilo Header***/
.nav-header__menu{
    width: auto;
}

/***Estilo Main***/
#mainSecundario{
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: auto;
}

/***Quien-soy***/
.mainSecundario__quien-soy{
    width:auto;
}

/***Sesion***/
.mainPrimario__descripcion{
    width:auto;
}
.sesion__carrusel{
    flex-wrap: wrap;
}
.sesion__carrusel-imagen{
    width: 35%;
}

/***Contacto***/
.mainSecundario__imagen-contacto{
    width:auto;
}
.mainSecundario__formulario{
    width: auto;
}
.mainSecundario__titulo-formulario{
    width: auto;
}
.mainSecundario__titulo{
    width: auto;
}

/***Estilo Footer***/
.formulario{
    flex-direction: column;
}
.formulario__input{
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.formulario input{
    margin: 2%;
}
.formulario__boton{
    padding-top: 4%;
}

}    