//Estilos del boton
.boton-primario{
    font-family: $tipografia-general;
    @extend .botones;
    color: black;
    cursor: pointer;
    background-color: transparent;
    &:hover{
        color: #000000b6;
        background-image: $color-primario;
        border-color: #00000093;
        font-weight:bold;
    }
}