//Extend para estilo de botones
%botones{
    font-size: $font-size-boton;
    width: auto;
    padding: 7px 30px;
    border: 2px solid gray;
    border-radius: 3px;
}

//Extend para estilo de h1
%h1{
    color: #343232;
    font-family: $tipografia-general;
    font-weight:lighter;
    text-align: center;
}