.boton-primario{
    font-family: $tipografia-general;
    @extend .botones;
    color: black;
    cursor: pointer;
    background-color: transparent;
    &:hover{
        color: #000000b6;
        background-image: linear-gradient(#0000002c, #f0f0f0d5, white);
        border-color: #00000093;
        font-weight:bold;
    }
}