.boton{
    font-family: 'Playfair Display', serif;
    color: black;
    font-size: 15px;
    width: auto;
    padding: 7px 30px;
    cursor: pointer;
    border: 2px solid gray;
    border-radius: 3px;
    background-color: transparent;
    &:hover{
        color: #000000b6;
        background-image: linear-gradient(#0000002c, #f0f0f0d5, white);
        border-color: #00000093;
        font-weight:bold;
    }
}