$color-primario:linear-gradient(rgba(0, 0, 0, 0.17), rgba(240, 240, 240, 0.84), rgba(240, 240, 240, 1));
$color-secundario:linear-gradient(rgba(244, 244, 244, 1), rgba(255, 255, 255, 1));

$tipografia-general:'Playfair Display', serif;



