//Estilos utilizados para páginas Sesión-seleccionada
.mainPrimario__imagen{
    width: 100%;
}
.mainPrimario__carrusel{
    width:$size-carrusel;
    height: auto;
    padding: 1%;
    margin-bottom: 3%;
}
.mainPrimario__descripcion{
    width: 35%;
    height: auto;
    padding: 1%;
    p{
        color: #343232;
        font-family: $tipografia-general;
        font-weight:lighter;
        text-align:center;
        padding: 1%;
        margin-top: 5%;
    }
}

