.mainSecundario__imagen-contacto{
    display: flex;
    justify-content: center;
    width: 400px;
    margin: auto;
    img{
        @include imagenes(100%, 10px 70px 10px 70px);
    }
    @media (min-width:1920px){   
        margin-left:25%;
    }
}
.mainSecundario__titulo-formulario{
    width: 450px;
    height: auto;
    margin: auto;
    padding: 20px;
    float: left;
    @media (min-width:1920px){   
        margin-right:20%;
    }
}
.mainSecundario__titulo{
    width: 450px;
    height: auto;
    margin:auto;
    h1{
        color: #343232;
        font-family: $tipografia-general;
        font-weight:lighter;
        text-align:left;
        padding: 0px 10px 10px 0px;
    }
    p{
        color: #343232;
        font-family: $tipografia-general;
        text-align:left;
        padding: 0px 0px 0px 10px;
    }
}
.mainSecundario__formulario{
    width: 450px;
    height: auto;
    padding: 10px;
    input{
        font-family: $tipografia-general;
        padding: 5px 10px;    
    }
    p{
        color: #343232;
        font-family: $tipografia-general;
        text-align:left;
        padding: 3px;
        margin-bottom: 0%;
    }
    input{
        &:focus{
            outline: 1px solid black;
            border-radius: 3px;
        }
    }
}
.mensaje{
    font-family: $tipografia-general;
    padding: 0px 10px;
    width: 300px;
    &:focus{
        outline: 1px solid black;
        border-radius: 3px;
    }
}

