.mainSecundario__quien-soy{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:center;
    h1{
        color: #343232;
        font-family: $tipografia-general;
        font-weight:lighter;
        text-align:left;
        padding: 1%;
    }
    p{
        width:auto;
        height: auto;
        color: #343232;
        font-family: $tipografia-general;
        font-style: italic;
        text-align:left;
        padding: 15px 0px 0px 30px;
    }
}
.mainSecundario__imagen-perfil{
    justify-content: center;
    width: 30%;
    height: auto;
    padding: 5% 0% 5% 0%;
    position: relative;
    img{
        @include imagenes (100%, 10px 70px 10px 70px );
    }
}

