//Estilos utilizados para el header
header{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-image: $color-primario;
    border-radius: 10px 100px 10px 100px;
    box-shadow: 10px 10px 10px 0px rgba(95, 92, 92, 0.733);
    margin: 1% 1% 2% 1%;
    grid-area: header;
    .logo{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        height: 170px;
        padding: 1%;
        margin: auto;
        a{
            display: flex;
            flex-direction: column;
        }    
    }
    .logo__imagen{
        width:100%;
        opacity: 0.7;
    }
    .nav-header{
        display: flex;
        flex-direction: column;
        flex-wrap:nowrap;
        justify-content: center;
        align-items: center;
        width: 55%;
    }
    .nav-header__menu{
        display: flex;
        flex-direction: row; 
        flex-wrap: nowrap;
        width: 100%;
        padding: 1%;
        li{
            padding: 1%;
            margin: auto;
            display: inline-block;
        }
        a{
            color: #343232;
            text-decoration: none;
            font-family: 'Nanum Myeongjo', serif;
            font-size:small;
            font-weight: bold;
            letter-spacing:1.5px;
            margin: auto; 
            padding: 3px;
            position: relative;
            &::after{
                content: "";
                width: 0;
                height: 2px;
                background-color: #343232;
                position: absolute;
                bottom: 0;
                right: 50%;
                transition: all .5s;
                will-change: width;
            }
            &:hover::after{
                width: 100%;
                right: 0;
            }
        }
    }
    .navbar{
        display: none;
    }
    .dropdown-menu{
        --bs-dropdown-border-width:0px;
    }
    button, input, optgroup, select, textarea {
        font-size: x-large;
    }
    .btn-close {
        --bs-btn-close-focus-shadow: 0 0 0 0.25rem #818283;
        width: 2em;
        height: 2em;
    }
    .offcanvas-header .btn-close {
        margin-right: 0;
        padding: calc(var(--bs-offcanvas-padding-y) * .3) calc(var(--bs-offcanvas-padding-x) * .5);
    }    
    .navbar-nav{
        align-items: center;
        text-decoration: none;
        font-family: 'Nanum Myeongjo', serif;
        font-weight: bold;
        --bs-nav-link-padding-y: 0.6rem;
        li{
            a{
                color: rgb(97, 96, 96);
                font-size: 20px;
            }
        }
    }
    .dropdown-item{
        color: #494646;
        text-decoration: none;
        font-family: 'Nanum Myeongjo', serif;
        font-weight: bold;
    }
    .offcanvas{
        --bs-offcanvas-width: 100%;
        --bs-offcanvas-padding-y: 2rem;
        background-image: $color-primario;
    }
    .offcanvas-header{
        align-items: flex-start;
        justify-content: end;
    }
    .navbar-toggler{
        --bs-navbar-toggler-border-radius: 10px 20px 10px 20px;
        &:focus{
            box-shadow: none;
        }
    }    
    @media (max-width:576px){
        /***Estilo Header***/
        margin: 1% 1% 4% 1%;
        .nav-header__menu{
            display: none;
        }
        .navbar{
            display: flex;
        }
        .logo__imagen{
            width:60%;
        }
        .logo__imagen-mobile{
            width:80%;
            opacity: 0.7;
            animation: flotar 5s ease-in-out infinite;
        }
        .logo{
            height: 100px;
            align-items: center;       
        }
        .logo a{
            align-items: center;
        }
    }
    @media (max-width:765px){ 
        //***Estilo Header***/    
        .nav-header{
            width: 70%;
        }
    }
}
