#mainPrimario{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: auto;
    height: auto;
    padding-bottom: 3%;
    background-image: $color-secundario;
    h1{
        color: #343232;
        font-family: $tipografia-general;
        font-weight:lighter;
        text-align: center;
        padding: 15px;
        margin: 5% 0% 5% 0%;
    }
        @media (max-width:576px){
        //***Q&A***/
        h1{
            font-size: 30px;
            padding: 1px;
        }
        //***Sesion-Seleccionada***/
        .mainPrimario__carrusel{
            width: 80%;
            padding: 0%;
        }
        .mainPrimario__descripcion{
            width:auto;
        }
    }
}
#mainSecundario{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    width: auto;
    height: auto;
    padding: 1%;
    background-image: $color-secundario;
    @media (max-width:576px){       
        /***Estilo Main***/
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        width: auto;
        //***Quien-soy***/
        .mainSecundario__quien-soy{
            width:auto;
        }
        //***Contacto***/
        .mainSecundario__imagen-contacto{
            width: 70%;
        }
        .mainSecundario__formulario{
            width: auto;
        }
        .mainSecundario__titulo-formulario{
            width: auto;
        }
        .mainSecundario__titulo{
            width: auto;
        }
    }
}



