//Estilos utilizados para el main de Index / Q&A / Sesion-seleccionada
#mainPrimario{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: auto;
    height: auto;
    padding-bottom: 3%;
    background-image: $color-secundario;
    .h1_index{
        @extend %h1;
        padding: 15px;
        margin: 5% 0% 5% 0%;
    }
    .mainPrimario__imagen{
        width: 100%;
        border-radius: 10px;
    }
    @media (max-width:576px){
        //***Q&A***/
        h1{
            font-size: 30px;
            padding: 1px;
        }
        //***Sesion-Seleccionada***/
        .mainPrimario__carrusel{
            width: 80%;
            padding: 0%;
            margin-top: 3%;
        }
        .mainPrimario__descripcion{
            width:auto;
        }
    }
}

//Estilos utilizados para el main de Quien-soy / Contacto 
#mainSecundario{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    width: auto;
    height: auto;
    padding: 1%;
    background-image: $color-secundario;
    @media (max-width:576px){       
        /***Estilo Main***/
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        width: auto;
        //***Quien-soy***/
        .mainSecundario__quien-soy{
            width:auto;
        }
        //***Contacto***/
        .mainSecundario__imagen-contacto{
            width: 70%;
        }
        .mainSecundario__formulario{
            width: auto;
        }
        .mainSecundario__titulo-formulario{
            width: auto;
        }
        .mainSecundario__titulo{
            width: auto;
        }
    }
}



