footer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: center;
    background-image: $color-primario;
    width: auto;
    height: 100%;
    grid-area: footer;
    .informacion{
        display: flex;
        flex-direction:column;
        flex-wrap: nowrap;
        align-items: center;
        width: 50%;
        height: 50%;
        padding: 0.5%;
    }
    .informacion__redes-sociales{
        padding: 1%;
        margin: auto;
        li{
            padding: 10px;
            margin: auto;
            display: inline-block;
        }
    }
    .redes-sociales__logo{
        width: 100%;
        opacity: 0.7;
    }
    .contacto{
        padding: 2%;
        a{
            color: #343232;
            font-family: $tipografia-general;
            font-size:large;
            font-weight:bold;
            letter-spacing: 1.5px;
            text-align: center;
            text-decoration: none;
            &:hover{
                color: #000000;
                font-weight:bolder;
            }
        }
    }
    .datos{
        color: #343232;
        font-family: $tipografia-general;
        font-size:medium;
        text-align: center;
    }
    .formulario{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-color: gray;
        padding: 20px;
        input{
            font-family: $tipografia-general;
            font-size: small;
            width: auto;
            padding: 5px 5px;
            &:focus{
                outline: 1px solid black;
                border-radius: 3px;
            }
        }
    }
    .formulario__input{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    .formulario__boton{
        display: flex;
        margin: 1%;
    }
    @media (max-width:576px){
        //***Estilo Footer***/
        .formulario{
            flex-direction: column;
        }
        .formulario__input{
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
        }
        .formulario input{
            margin: 2%;
        }
        .formulario__boton{
            padding-top: 4%;
        }
    }    
}






